html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif; 
*/

.text-h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-transform: uppercase;
}

.text-h2{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-about_us{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
}


.text-p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
}

.text-menu{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    line-height:0px;

}
.text-header{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
}
:root{
    --blue-color:#D4DFFE;
    --yellow-color:#FFFDF1;
    --dark-blue-color:#B8C8F6;
    --white-color:#fff;
    --black-color:#000;
}

.container{
    height: 800px;
    width: 100%;
    margin: 0 auto;
}

.header {
    min-height: 900px;
    background-color: #ffffff;
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
  } 

.header_left{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;;
}
.text-header_left{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
}

.contacts {
    background-color: #fff;
    height: 150px;
    width: 100%;
    color: var(--black-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 116px;
    padding-right: 100px;
    font-weight: 700;
    align-content: center;
    align-items: center;
}
.contacts__link{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.contacts__icon{
    margin-right: 10px;
}

.icon{
    padding-left: 15px;
    padding-top: 5px;
}

/* .menu {
    flex-wrap: wrap;
    background-color: #FFEB3B;
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
    height: 80px;
    text-align: center;
} */



/* .menu a{
  margin-left: 10px;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding-top: -20px;
  padding-bottom: -20px;
}
 */



/* Clearfix */

ul.clearfix {
  display: flex;
  list-style-type: none;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: flex;
}

nav.clearfix{
  display: flex;
  height: 60px;
	width: 100%;
	background: #FFEB3B;

  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;

  position: sticky;
    top: 0;
    z-index: 100;
}
nav.clearfix ul{
	width: 1350px;
}



nav.clearfix li {
	display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav.clearfix a {
	color: #000;
	display: flex;

  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-style: normal;
  line-height: normal;
  line-height:0px; 

  flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  padding-left: 10px;
  padding-right: 10px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
}
/* nav.clearfix li a {
	border-right: 1px solid #FFEB3B;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
} */
nav.clearfix li:last-child a {
	/* border-right: 0; */
}
nav.clearfix a:active, nav.clearfix a.active {
	background-color: #ffb13b;

}
nav.clearfix a:hover{
  text-decoration: underline;
}
nav.clearfix a#pull {
	display: none;
}

@media screen and (max-width:1345px) {
  nav.clearfix{
    height: 100px;
  }
  nav.clearfix a{
    height: 100px;
  }
  
}

@media screen and (max-width: 640px) {
	nav.clearfix { 
  		height: 200px;
  	}
  	nav.clearfix ul {
  		width: 100%;
  		display: flex;

      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-direction: row;

  		height: auto;
  	}
  	nav.clearfix li {
  		width: 50%;  		
  		position: relative;
  	}
  	nav.clearfix a {
	  	text-align: center;
	  	width: 100%;
	  	text-indent: 0px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
clearfix ul {
		display: none;
		height: auto;
	}
	nav.clearfix a#pull {
		display: block;
		background-color: #FFEB3B;
		width: 100%;
		position: relative;
	}
	nav.clearfix a#pull:after {
		content:"";
		background: url('http://media02.hongkiat.com/responsive-web-nav/demo/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		/* right: 15px; */
		top: 10px;
	}
}


@media screen and (max-width: 600px) {
	nav.clearfix { 
  		height: auto;
  	}
  	nav.clearfix ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav.clearfix li {
  		width: 60%;
  		position: relative;
  	}
  	nav.clearfix a {
	  	width: 50%px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 600px) {

	nav.clearfix ul {
		display: none;
		height: auto;
	}
	nav.clearfix a#pull {
		display: flex;
		background-color: #FFEB3B;
		width: 20%;
    position: relative;
    top: 0;

	}
	nav.clearfix a#pull:after {
		content:"";
		width: 40px;
		height: 40;
		display: inline-block;
		position: absolute;
		right: 15px;
		/* top: 10px; */
	}
}


.logo {
    width: 160px;
    margin-right: auto   
}


.first_screen {
    display: flex;
    min-height: 587px;
    background-color: #141727;
    background-image:url(../img/first_screen_bg.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    height: 654px;
}


.first_screen__title {
    padding: 0;
    color: #FFD700;
    max-width: 600px;
    padding-left: 117px;
    padding-top: 95px;

}
.first_screen__contacts{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
}
.first_screen__text {
    color: #ffd700;
    padding: 0;
    max-width: 250px;
}

.first_screen__number {
    max-width: 230px;
    padding-top: 10px;

}
.first_screen__write {
    max-width: 260px;
    padding-top: 10px;
    text-decoration: none;
    color: #ffd700;
}

.text-fs{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
}
.menu a.active{
  text-decoration: underline;
}

a:hover {
    text-decoration: underline;
  }

.whatsapp,.viber{
    text-decoration: none;
    color: #ffd700;
}

@media screen and (max-width:1130px){
    
    .contacts {
        flex-direction: column;
        height: 180px;
    }
    .logo{
        width: 100px;
    }    
    .header{
        height: 900px;
    }
    .menu{
        padding-left: 10px;
        padding: 0;
    }
    .first_screen{

      max-width : 1130px;
    }
    .text-header_left{
      font-size: 20px;
    }
}

@media screen and (max-width:900px){
  .nav.menu{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;    
    width: 300px;
  }
  ul.menu {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 705px) {
    .contacts{
        height: 240px;
    }
    ul.menu {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 554px) {
    .contacts {
      height: 305px;
  }
  .first_screen{
    height: 1100px;
  }
  }
@media screen and (max-width: 511px) {
    nav {
      display: block;
    }
    nav a {
      display: block;
    }
    .contacts {
      height: 320px;
  }
  }
  @media screen and (max-width: 461px) {

    .contacts {
      height: 350px;
  }
  }
  @media screen and (max-width: 418px) {

    .contacts {
      height: 400px;
  }
  }
/* О НАС */

.about_us_general {
    width: auto;
    height: 850px;
    flex-shrink: 0;
    margin: 0 auto;
    background: #FFFDF1;
}

.about_us{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.about_us__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    align-items: center;
}

.about_us__title_und {
    opacity: 0.4;
    top: 40px;
    position: relative ;
    color: #E2CB0A;
    justify-items: center;
    max-width: 250px;
}

.about_us__title_ar {
    top: 10px;
    left: 35px;
    position: absolute;
    justify-items: center;
    color:#00103F;
}
.about_us__photo {
    margin-top: 150px;
    width: 553px;
    height: 653px;
    flex-shrink: 0;
    border-radius: 40px;
    background: url(../img/photo1.png), lightgray 1.317px -0.274px / 85% 100.07% no-repeat;
}

.about_us__text {
    position: relative;
    top:34px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    padding-left: 50px;
}
.AU__text_title {
    display: block;
    max-width: 632px;
    max-height: 44px;
    color: #F3DA0B;
    margin-bottom: 15px;
}
.AU__text {
    display: block;
    max-width: 630px;
    color: #000000;
    margin-top: 15px;
    line-height: 180%;
}

.text-AU{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    line-height: 150%;
}

@media screen and (max-width:1300px){
  .about_us_general{
    height: 850px;
  }
  .AU__text{
    max-width: 500px;
  }
    
}

@media screen and (max-width:1125px){
  .about_us_general{
    height: 1500px;
  }
  .AU__text{
    max-width: 600px;
  }
  .AU__text_title{
  max-width: 600px;
  }
}

@media screen and (max-width:760px){
  .about_us_general{
    height: 1700px;
  }
  .AU__text{
    max-width: 400px;
  }
  .AU__text_title{
  max-width: 450px;
  }
}

@media screen and (max-width:615px){
  .about_us_general{
    height: 1800px;
  }
  .about_us__photo{
    width: 400px;
    height: 500px;
    background: url(../img/photo1.png),lightgray 1.016px -13.165px / 99.147% 129.333% no-repeat;
  }
      .AU__text{
      max-width: 350px;
      padding-left: 10px;
    }
  .AU__text_title{
    max-width: 300px;
    margin-bottom: 10px;
    padding-left: 10px;
    max-height: 88px;
    }
  .about_us__text{
    padding: 0;
  }
}

@media screen and (max-width:400px){

  .about_us__photo{
    width: 300px;
    height: 400px;
    background: url(../img/photo1.png), lightgray 0.762px -10.532px / 99.147% 129.333% no-repeat;
  }
  .AU__text{
  max-width: 300px;
  }
  .AU__text_title{
    max-width: 300px;
    }

}


/* КАРУСЕЛЬ */
.photography{
    height: 800px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4DFFE;
}
/*.banner-container {
    overflow: hidden;
    position: relative;
}
.banner-container ul {
    padding: 0;
    display: flex;
    width: calc(100%);
    margin-left: -30px;
}
.banner-container li {
    clip-path: polygon(60px 0%, 100% 0%, 100% 100%, 0% 100%);    
    /* clip-path: polygon(0px 0%, 100% 0%, 100% 100%, 0% 100%);  */ /*прямой вариант
    position: relative;
    margin: 0 -35px;
    width: calc(100% / 6 + 70px); /* 6 - кол-во фотографий 
    transition: width 0.5s ease-in;
}
.banner-container li a {
    display: block;
    background: #000;    
}
.banner-container li a img {
    max-width: none;
    height: 800px;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: opacity 0.7s ease-in;
}
.banner-container ul li:hover {
    width: 100%;
}    
.banner-container ul li:hover a img {
    opacity: 1;
} */



@import url("https://fonts.googleapis.com/css?family=Roboto:900");
/**
  * style variables
*/
/**
  * Control & indicator mixin
*/
.carousel {
  height: 800px;
  width: 80%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0;
  list-style: none;
/**
  * Where the magic happens
  */
/**
    * Control element - right/left arrows
  */
/**
    * Element for holding slide indicators
  */
/**
    * Indicator for indicating active slide
  */
/**
    * Create rules for when slides are contained within a track
  */
}
.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
  transform: translateX(0%);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
  transform: translateX(-100%);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
  transform: translateX(-200%);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
  transform: translateX(-300%);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}

.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
  transform: translateX(-300%);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}

.carousel__activator:nth-of-type(6):checked ~ .carousel__track {
  transform: translateX(-400%);
}
.carousel__activator:nth-of-type(6):checked ~ .carousel__slide:nth-of-type(6) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(6):checked ~ .carousel__controls:nth-of-type(6) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(6):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(6) {
  opacity: 1;
}
.carousel__control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  transform: rotate(45deg);
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease 0s;
}
.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(1) {
  transform: translateX(0%);
}
.carousel__track .carousel__slide:nth-of-type(2) {
  transform: translateX(100%);
}
.carousel__track .carousel__slide:nth-of-type(3) {
  transform: translateX(200%);
}
.carousel__track .carousel__slide:nth-of-type(4) {
  transform: translateX(300%);
}
.carousel__track .carousel__slide:nth-of-type(5) {
  transform: translateX(400%);
}
.carousel--scale .carousel__slide {
  transform: scale(0);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
}
/**
  * Theming
*/
* {
  box-sizing: border-box;
}

.carousel-container {
  display: inline-block;
}
.my-carousel {
  border-radius: 5px;
  margin: 30px;
}
.carousel__slide {
  overflow: hidden;
}
.carousel--thumb .carousel__indicator {
  height: 30px;
  width: 30px;
}

.carousel__indicator {
  background-color: #fafafa;
}
.carousel__slide:nth-of-type(1),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
  background-image: url("../img/carusel_1.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(2),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: url("../img/carusel_2.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(3),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
  background-image: url("../img/carusel_3.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(4),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
  background-image: url("../img/carusel_4.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(5),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(5) {
  background-image: url("../img/carusel_5.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(6),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(6) {
  background-image: url("../img/carusel_6.jpg");
  background-size: cover;
  background-position: center;
}


  

/* ПРИЕМУЩЕСТВА */

.advantages {
    width: auto;
    height: 1030px;
    flex-shrink: 0;
    margin: 0 auto;
    background: #FFFDF1;

}
.advantage__title {
    display: flex;
    justify-content: center;
    color:#F3DA0B

}

.advantage__general {
    display: grid;
    gap: 1em 4em;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    width: 250px;
    height: 250px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

.advantage__block {
    text-align: center;
    background-color: #B8C8F6;
    width: 300px;
    height: 250px;
    border-radius: 40px;
}

.advantage__text {
    max-width: 250px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    font-weight: 500;
    justify-content: center;
    
}
.text-ad{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
}


@media screen and (max-width:1080px){
  .advantage__general{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap:20px; */
  }
  .advantages{
    height: 1450px;
  }
  .advantage__block{
    width: 400px;
  }
}

@media screen and (max-width:910px){
  .advantage__block{
    width: 300px;

  }
}

@media screen and (max-width:750px){
  .advantage__general{
    gap: 1em 2em;
  }
}

@media screen and (max-width:660px){
  .advantage__block{
    width: 280px;

  }
}

@media screen and (max-width:620px){
  .advantage__block{
    width: 260px;

  }

}

@media screen and (max-width:590px){
  .advantage__general{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .advantages{
    height: 2530px;
  }
  .advantage__block{
    height: 250px;
  }
}

/* СТРУКТУРА ЗАНЯТИЙ */


.lesson__block {
    text-align: center;
    color: #0028A0;
    padding-top: 20px;
    position: relative;
    z-index: 10;
    
}
.lessons__arrow{
    position: relative;    
    top: 0px;
    left: 0px;
    z-index: 20;

}

.lesson__block{
    background-color: var(--blue-color);
    height: 1050px;
    width: auto;
    
}

.lessons__row{
    display: grid;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lessons__image{
    box-align:center;
    position: relative;
}
.lessons__block{
    width: auto;
height: auto;
flex-shrink: 0;
border-radius: 40px;
margin: 10px;
}

.lessons_text_title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.lessons__struct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:1690px){
    .lesson__block{
        height: 1390px;
    }
    
}
@media screen and (max-width:1250px){
    .lesson__block{
        height: 1800px;
    }
    
}
@media screen and (max-width:880px){
    .lesson__block{
        height: 2220px;
    }
    
}
@media screen and (max-width:810px){
    .lesson__block{
        height: 3070px;
    }
    
}
@media screen and (max-width:440px){
  .lesson__block{
      height: 3570px;
  }
  .lessons__arrow{
    rotate: 90deg;
  }
  
}

/* НАШИ КУРСЫ */



.course__block{
    background-color: var(--yellow-color);
    height: 800px;
    width: auto;
}

.course__title {
    color:#F3DA0B;
    text-align: center;
    padding-top: 10px;
}

.course__rec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}

.rec__block {
    width: 260px;
    height: 600px;
    border-radius: 40px;
    background: #B8C8F6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.course__list {
    /* list-style-type: disc; */
    margin: 0;
    padding: 0;
    padding-left: 1px;
}

.course__name {
    text-align: center;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 25px;
    /* position: relative;
    top: 10px; */
}

.course__age{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 20px;
    color: #000;
    /* position: relative;
    top: 20px; */
}
.course__point {
    padding-left: 10px;
    text-align: left;
    /* list-style: none; */
    /* list-style-position: inside; */

}
.course__price {
    text-align: center;
    vertical-align: bottom;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    color: #000;
    padding-bottom: 20px;
    
}

.ps {
    padding-left: 40px;
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
}


@media screen and (max-width:1600px){
    .course__rec{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em 1em;
        max-width: 900px;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .course__block{
        height: 1450px;

    }
}

@media screen and (max-width:910px){
  .course__rec{
      grid-template-columns: 1fr 1fr;
      gap: 1em 1em;
      max-width: 600px;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
  }
  .course__block{
    height: 2080px;

  }
}

@media screen and (max-width:610px){
  .course__rec{
      grid-template-columns: 1fr;
      gap: 10px 0;
      
  }
  .course__block{
      height: 3900px;
      
  }
  
}
@media screen and (max-width:436px){

  .course__block{
      height: 3930px;
  }
  
}
@media screen and (max-width:333px){

  .course__block{
      height: 3960px;
  }
  
}

@media screen and (max-width:330px){

  .course__block{
      height: 4000px;
  }
  
}


/* РАСПИСАНИЕ */
.schedule {
    background-color: var(--blue-color);
    height: 800px;
    width: auto;
    

}
.schedule__title {
    text-align: center;
    color: #0028A0;
    padding-top: 20px;
}
.schedule__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.schedule__rec {
    border-radius: 40px;
    background: #FFF5AE;
    width: 700px;
    height: 600px;
    flex-shrink: 0;
}
.rayevskogo__title {
    text-align: center;
}

.koshevskogo__title {
    text-align: center;
}


@media screen and (max-width:1450px){
    .schedule__block{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .schedule{
        height: 1370px;
    }
    
    
}
@media screen and (max-width:705px){

  .schedule__rec{
    width: 97%;
    height: 600px;
  }
  
  
}

/* КОНТАКТЫ */
.contacts__block {
    background-color: var(--yellow-color);
    height: 800px;
    width: auto;
}
.contacts__title {
    color:#F3DA0B;
    text-align: center;
    padding-top: 20px;
}

.contacts__rec {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.text__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;  
    color: #F3DA0B;
    max-width: 720px;
    
}
.text__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contactas__map{
  width: 700px;
  height: 600px;
  margin-right: 20px;
}
.contacts__text{
  width: auto;
  margin-left: 20px;
}

@media screen and (max-width:1480px){
    .contacts__rec{
        grid-template-columns: 1fr;
        gap: 10px;
    } 
    .contacts__block{
        height: 1180px;
    }
    .contactas__map{
      width: 800px;
      padding-left: 20px;
    }
    .contacts__text{
      padding-right: 20px;
    }
    
    
}

@media screen and (max-width:800px){
  .contacts__block{
    height: 1250px;
  }
  .contactas__map{
    width: 600px;
    padding-left: 20px;
  }
  .contacts__text{
    width: 600px;
  }
}

@media screen and (max-width:650px){
  .contacts__block{
    height: 1420px;
  }
  .contactas__map{
    width: 400px;
    padding-left: 20px;
  }
  .contacts__text{
    width: 400px;
  }
}
@media screen and (max-width:450px){

  .contacts__block{
    height: 1500px;
  }
  .contactas__map{
    width: 300px;
    padding-left: 20px;
  }
  .contacts__text{
    width: 300px;
  }
}


/* ПОДВАЛ */
.footer{
    width: auto;
height: 195px;
background: #000;
display: grid;
align-content: center;
align-items: center;
justify-content: space-between;
justify-items: center;
grid-template-columns: 1fr 1fr;

}



.social_media__block {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    padding-right: 116px;
}
.icon_f{
    margin-left: 10px;
    
    
}

.social_media__text{
    color:white;
}
.menu_footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 116px;
}
.menu_pounter a{
    color:white;
    text-align: center;
    list-style: none;
    list-style-position: inside;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
}

@media screen and (max-width:880px) {
    .footer{
        height: 260px;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }
    .menu_footer{
        padding-left: 0;
    }
    .social_media__block{
        padding-right: 0px;
    }
}